<style type="text/css">
#center {
	text-align: center;
}
</style>

	<div id="center">
		<form id="contact" method="post" action="mailto:info@perpetuate.ca">
			<fieldset>    
			 
				<label for="name">Name</label>
				<input type="text" name="name">
				 
				<label for="email">E-mail (Required)</label>
				<input type="email" name="email">
				 
				<input type="submit" name="submit" id="submit" value="Send Message" />
			 
			</fieldset>
		</form>

	</div>
