%header.body#banner
  %h1= image_tag("PerpetuateLogo.jpg", :alt => "Perpetuate")
  %nav
    %ul
      %li= link_to "Home", home_path
      %li= link_to "Mailing List", root_path
      %li= link_to "Store", "http://perpetuate.bigcartel.com/"

